#TopSide {
text-align: center;
}
h1 {
}
body {
  background-position: top;
  background-color: grey;
  background-image: url(DnD_BG.png);
  background-size: 115%;
  text-align: left;
  color: black;
}
#Answer {
  /*text-align: center;
  border-style: solid;
  border-radius: 100px;
  border-color: maroon;
  border-width: small;
  border-spacing: inherit;*/
}
p {
  text-align: center;
  font-size: 25px;
}
#DTwelve {
  text-align: right;
}
#DEight {
  text-align: right;
}
#DFour {
  text-align: right;
}
#StatBlock {
  text-align: right;
}
